In [102]:
import pandas as pd
import os
from IPython.display import display as print_dataframe

In [2]:
files_list_folder = 'C:\\Users\\BZLJ0R\\OneDrive - NEXTEER AUTOMOTIVE\\Documents\\motor_recovery\\files_lists'

In [48]:
df = pd.DataFrame()

for file_list in os.listdir(files_list_folder):
    print(file_list)
    df_temp = pd.read_csv(os.path.join(files_list_folder, file_list), 
                          sep = ";"
                         ,header=None
                          ,dtype = 'str'
                         ,skiprows=7
                         ,skipfooter=2
                         ,engine="python")
    if df.empty:
        df = df_temp
    else:
        df = pd.concat([df,df_temp])

reflash1.txt
reflash2reflash2.txt
reflash2t.txt
reflash3.txt
reflash4.txt
reflash6.txt

In [49]:
df.shape

(1566260, 1)

In [50]:
df[0]

0         08/11/2020  06:18 AM            26,800  Inhale...
1         09/27/2020  04:59 PM            26,800  Inhale...
2         09/24/2020  03:59 PM            26,800  Inhale...
3         09/24/2020  03:52 PM            26,800  Inhale...
4         09/17/2020  10:46 PM            26,800  Inhale...
                                ...
222255    02/08/2022  06:32 AM             4,149 01315A3...
222256    02/08/2022  07:37 AM            26,800 01315A4...
222257    02/08/2022  07:37 AM             4,150 01315A4...
222258    02/07/2022  01:53 PM            26,800 01315A4...
222259    02/07/2022  01:53 PM             3,588 01315A4...
Name: 0, Length: 1566260, dtype: object

In [51]:
df['inhale_position'] = df[0].str.find('Inhale')

In [52]:
df[0].str.find('Inhale')

0         40
1         40
2         40
3         40
4         40
          ..
222255    -1
222256    48
222257    -1
222258    48
222259    -1
Name: 0, Length: 1566260, dtype: int64

In [53]:
df_inhale_filtered = df[df['inhale_position'] > -1]

In [54]:
df_inhale_filtered.shape

(783135, 2)

In [55]:
df_inhale_filtered['xml_position'] = df_inhale_filtered[0].str.find('.xml')

<ipython-input-55-242034bac30f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inhale_filtered['xml_position'] = df_inhale_filtered[0].str.find('.xml')

In [56]:
df_inhale_filtered.head()

,0,inhale_position,xml_position
0,"08/11/2020 06:18 AM 26,800 Inhale...",40,87
1,"09/27/2020 04:59 PM 26,800 Inhale...",40,88
2,"09/24/2020 03:59 PM 26,800 Inhale...",40,88
3,"09/24/2020 03:52 PM 26,800 Inhale...",40,88
4,"09/17/2020 10:46 PM 26,800 Inhale...",40,88

In [66]:
df_inhale_filtered.dtypes

0                  object
inhale_position     int64
xml_position        int64
dtype: object

In [87]:
def slice_str(string, start, stop):
    return string[start:stop].strip()#.replace(' AM','').replace(' PM','')

In [88]:
df_inhale_filtered['file_name'] = df_inhale_filtered.apply(
    lambda x: slice_str(str(x[0]),x['inhale_position'],x['xml_position']), axis = 1)

<ipython-input-88-e9076bcc804c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inhale_filtered['file_name'] = df_inhale_filtered.apply(

In [108]:
def replace_am_pm(string):
    return string.replace(' AM','').replace(' PM','')

In [109]:
df_inhale_filtered['file_name2'] = df_inhale_filtered['file_name'].apply(replace_am_pm)

<ipython-input-109-120f37d0e83c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inhale_filtered['file_name2'] = df_inhale_filtered['file_name'].apply(replace_am_pm)

In [ ]:
df_inhale_filtered['num_spaces'] = df_inhale_filtered['file_name'].str.count('\s+')

In [111]:
print_dataframe(df_inhale_filtered[df_inhale_filtered['num_spaces'] == 5][['file_name','file_name2','num_spaces']])

,file_name,file_name2,num_spaces
42921,Inhale SD000133X01 Q716700163 6_6_2019 8_10_52 AM,Inhale SD000133X01 Q716700163 6_6_2019 8_10_52,5
42922,Inhale SD000133X01 Q721600650 6_6_2019 8_20_47 AM,Inhale SD000133X01 Q721600650 6_6_2019 8_20_47,5
42923,Inhale SD000133X01 Q826002456 6_17_2019 9_47_2...,Inhale SD000133X01 Q826002456 6_17_2019 9_47_24,5
42924,Inhale SD000133X01 Q907302710 7_12_2019 11_58_...,Inhale SD000133X01 Q907302710 7_12_2019 11_58_27,5
42925,Inhale SD000133X01 Q908702113 9_12_2019 10_44_...,Inhale SD000133X01 Q908702113 9_12_2019 10_44_05,5
...,...,...,...
82272,Inhale SD000133X03 Q004305618 5_20_2020 1_34_1...,Inhale SD000133X03 Q004305618 5_20_2020 1_34_13,5
82278,Inhale SD000133X03 Q004305571 5_20_2020 11_12_...,Inhale SD000133X03 Q004305571 5_20_2020 11_12_11,5
82298,Inhale SD000133X03 Q004305375 5_25_2020 1_44_3...,Inhale SD000133X03 Q004305375 5_25_2020 1_44_34,5
82310,Inhale SD000133X03 Q004305260 5_25_2020 11_08_...,Inhale SD000133X03 Q004305260 5_25_2020 11_08_48,5
82312,Inhale SD000133X03 Q004505227 5_20_2020 1_11_4...,Inhale SD000133X03 Q004505227 5_20_2020 1_11_41,5

In [112]:
df_inhale_filtered['num_spaces2'] = df_inhale_filtered['file_name2'].str.count('\s+')

<ipython-input-112-96f38b16d70e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_inhale_filtered['num_spaces2'] = df_inhale_filtered['file_name2'].str.count('\s+')

In [113]:
df_name_filtered = df_inhale_filtered[df_inhale_filtered['num_spaces2'] == 4]

In [114]:
print_dataframe(df_inhale_filtered[df_inhale_filtered['num_spaces'] == 5][['file_name','file_name2','num_spaces','num_spaces2']])

,file_name,file_name2,num_spaces,num_spaces2
42921,Inhale SD000133X01 Q716700163 6_6_2019 8_10_52 AM,Inhale SD000133X01 Q716700163 6_6_2019 8_10_52,5,4
42922,Inhale SD000133X01 Q721600650 6_6_2019 8_20_47 AM,Inhale SD000133X01 Q721600650 6_6_2019 8_20_47,5,4
42923,Inhale SD000133X01 Q826002456 6_17_2019 9_47_2...,Inhale SD000133X01 Q826002456 6_17_2019 9_47_24,5,4
42924,Inhale SD000133X01 Q907302710 7_12_2019 11_58_...,Inhale SD000133X01 Q907302710 7_12_2019 11_58_27,5,4
42925,Inhale SD000133X01 Q908702113 9_12_2019 10_44_...,Inhale SD000133X01 Q908702113 9_12_2019 10_44_05,5,4
...,...,...,...,...
82272,Inhale SD000133X03 Q004305618 5_20_2020 1_34_1...,Inhale SD000133X03 Q004305618 5_20_2020 1_34_13,5,4
82278,Inhale SD000133X03 Q004305571 5_20_2020 11_12_...,Inhale SD000133X03 Q004305571 5_20_2020 11_12_11,5,4
82298,Inhale SD000133X03 Q004305375 5_25_2020 1_44_3...,Inhale SD000133X03 Q004305375 5_25_2020 1_44_34,5,4
82310,Inhale SD000133X03 Q004305260 5_25_2020 11_08_...,Inhale SD000133X03 Q004305260 5_25_2020 11_08_48,5,4
82312,Inhale SD000133X03 Q004505227 5_20_2020 1_11_4...,Inhale SD000133X03 Q004505227 5_20_2020 1_11_41,5,4

In [115]:
df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)

<ipython-input-115-c1df250cd5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)
<ipython-input-115-c1df250cd5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)
<ipython-input-115-c1df250cd5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)
<ipython-input-115-c1df250cd5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)
<ipython-input-115-c1df250cd5f1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_name_filtered[['Inhale','SD','Motor','date','hour']] = df_name_filtered['file_name2'].str.split(' ', expand = True)

In [117]:
df_name_filtered = df_name_filtered[['SD','Motor','date']]

In [118]:
df_name_filtered

                 SD       Motor       date
0       SD000133X01  Q007406486  11-Aug-20
1       SD000133X01  Q008305121  27-Sep-20
2       SD000133X01  Q008306649  24-Sep-20
3       SD000133X01  Q009905512  24-Sep-20
4       SD000133X01  Q020305438  17-Sep-20
...             ...         ...        ...
222250  SD000133X03  Q136505289  08-Feb-22
222252  SD000133X03  Q201105961  07-Feb-22
222254  SD000133X03  Q201205117  08-Feb-22
222256  SD000133X03  Q201205101  08-Feb-22
222258  SD000133X03  Q201105924  07-Feb-22

[779779 rows x 3 columns]

In [122]:
df_motor_list = pd.read_excel('MPP Recovery.xlsx')

ImportError: Pandas requires version '3.0.7' or newer of 'openpyxl' (version '3.0.5' currently installed).

In [121]:
!pip install openpyxl update

Requirement already satisfied: openpyxl in c:\users\bzlj0r\anaconda3\lib\site-packages (3.0.5)
Collecting update
  Downloading update-0.0.1-py2.py3-none-any.whl (2.9 kB)
Requirement already satisfied: et-xmlfile in c:\users\bzlj0r\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\users\bzlj0r\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Collecting style==1.1.0
  Downloading style-1.1.0-py2.py3-none-any.whl (6.4 kB)
Installing collected packages: style, update
Successfully installed style-1.1.0 update-0.0.1